.content-node {
  width: 320px;
  margin: 10px;
  box-shadow: -5px -5px 5px 0 rgba(35,35,35,1), 5px 5px 5px 0 rgba(0,0,0,.3);
  border-radius: .5em;
  padding: 7px;
}

.content-node .title {
  color: whitesmoke;
  height: 40px;
}

.content-node h4 {
  margin: 0;
}
